<ion-header>
  <ion-navbar>
    <ion-title>MyList!</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <h2>Wlecome to MyList!</h2>
    <p>Primeira versão do meu app!</p>
    <p>Vá em 'Nova Tarefa' para acrescentar uma Tarefa em sua lista!</p>

    <div>
      <ion-list>
        <ion-list-header no-lines>
          Minhas tarefas:
        </ion-list-header>
    
        <ion-item *ngFor="let task of tasks; let i=index">
            <ion-icon item-start 
            [name]="task.done ? 'checkmark-circle-outline' : 'radio-button-off'"
            (click)="task.done = !task.done">
          </ion-icon>
    
          <span (click)="editTask(task.desc, i)">
            {{ task.desc }}
          </span>
    
          <ion-icon item-end name="trash" color="danger" 
            (click)="deleteTask(i)">
          </ion-icon>
        </ion-item>
    
        <!-- 
          Quando usamos o sinal de negação para numbers essas são as operações boolean equivalentes:
            !0 === false
            !1 === true 
          
          Ou seja, o elemento abaixo soó vai aparecer quando a lista estiver vazia (length === 0)
        -->
        <ion-item *ngIf="!tasks.length">
          <ion-note>
            Nunhum Item
          </ion-note>
        </ion-item>
      </ion-list>
       
    </div>

</ion-content>
